<%- include('../includes/base.ejs') %>
<link rel="stylesheet" href="/forms.css">
</head>
<%- include('../includes/header.ejs') %>
    <main class="main">
        <form action="<% if (editMode) { %>/add-product<%}else {%> /edit-product <%} %>" method="POST" class="form">
            <div class="name_products">
                <input type="text" name="name" placeholder="nameProduct..." value="<% if (editMode) { %> <%= prods.name  %> <%} %>  ">
                <input type="number" name="price" placeholder="PriceProduct.." value="<% if (editMode) { %> <%= prods.price  %> <%} %> ">
            </div>
            <div class="submitBtn">
                <button type="submit" > <% if (editMode) {%> Update <%} else {%> Add Product <%}%></button>
            </div>
            <% if (editMode) { %>
                <input type="hidden" value=" <% prods._id %>" name="prodId">
                <% } %>
        </form>
    </main>
<%- include('../includes/end.ejs') %>



    
